.timeline.faded{
  opacity: 0.5;
}

.aoivisit.faded{
  opacity: 0.1;
}

.heatmap-canvas{
  pointer-events: none;
}

.aoi.hovered{
  opacity: 0.5;
}

.aoi.hovered.High{
  fill: rgb(214, 39, 40);
}

.aoi.hovered.Labels{
  fill: rgb(255, 127, 14);
}

.aoi.hovered.Legend{
  fill: rgb(44, 160, 44);
}

.aoi.hovered.Question{
  fill: rgb(31, 119, 180);
}

.aoi.hovered.Input{
  fill: rgb(148, 103, 189);
}

#timeline-control{
  margin-bottom: 10px;
}

g.userchars rect{
  fill: gray;
}

.header-sort{
  display: inline-block;
  padding: 0;
  line-height: 30px;
  letter-spacing: 5px;
}

.fa-sort, .fa-sort-asc, .fa-sort-desc{
  cursor: pointer;
}

.fa-sort{
  opacity: 0.5;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container-fluid .text-muted {
  margin: 20px 0;
}

.footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}